@page "/"

<h1>Payroll Calculator</h1>

<EditForm Model="@payroll" OnSubmit="Calculate">
    <div class="form-group row">
        <label for="hoursWorked">Hours worked weekly</label>
        <InputNumber id="hoursWorked" @bind-Value="payroll.hoursWorked" class="form-control col-sm-2" required />
    </div>

    <div class="form-group row">
        <label for="hourlyRate">Hourly rate</label>
        <InputNumber id="hourlyRate" @bind-Value="payroll.hourlyRate" class="form-control col-sm-2" required />
    </div>

    <button class="btn btn-primary" type="submit">Calculate</button>
</EditForm>

<br />
<p>Hours worked: @payroll.hoursWorked</p>
<p>Hourly rate: @payroll.hourlyRate</p>
<br />
<p>Income weekly gross: @incomeWeeklyGross</p>
<p>Income yearly gross: @incomeYearlyGross</p>
<br />
<p><b>PRSI yearly: @prsiTotal</b></p>
<br />
<p>USC on the first @uscAmount1 yearly: @usc1</p>
<p>USC on the next @uscAmount2 yearly: @usc2</p>
<p>USC on the next @uscAmount3 yearly: @usc3</p>
<p>USC on the balance yearly: @usc4</p>
<p><b>USC total yearly: @uscTotal</b></p>
<br />
<p>Tax at 20%: @tax1</p>
<p>Tax at 40%: @tax2</p>
<p>Tax credit: @taxCredit</p>
<p><b>Total Tax payable yearly: @totalTaxPayableYearly</b></p>
<br />
<p><b>Total Deductions: @deductionsTotalYearly</b></p>
<br />
<p><b>Income yearly net: @incomeYearlyNet</b></p>
<p><b>Income weekly net: @incomeWeeklyNet</b></p>


@code {
    PayrollModel payroll = new PayrollModel();


    //public static double hoursWorkedEntered = Convert.ToDouble("hoursWorked");
    //public static double hourlyRateEntered = Convert.ToDouble("hourlyRate");


    // income
    static double incomeWeeklyGross;
    static double incomeYearlyGross;

    double CalculateIncomeWeeklyGross()
    {
        return incomeWeeklyGross = payroll.hoursWorked * payroll.hourlyRate;
    }

    double CalculateIncomeYearlyGross()
    {
        return incomeYearlyGross = incomeWeeklyGross * 52;
    }

    // tax
    static double taxCredit = 3300;

    static double taxLimitStandard = 35300;    // income threshold taxed at standard rate
    static double taxLimitHigher = incomeYearlyGross - taxLimitStandard;    // income threshold taxed at higher rate
    static double taxRateStandard = 0.2;    // income threshold taxed at standard rate
    static double taxRateHigher = 0.4;    // income threshold taxed at higher rate
    static double tax1;     // tax at standard rate
    static double tax2;     // tax at higher rate
    static double taxTotalYearly;
    static double totalTaxPayableYearly;   // total tax less tax credit

    double CalculateTax()
    {
        if (incomeYearlyGross == 0 || incomeYearlyGross <= taxCredit)
        {
            tax1 = 0;
            tax2 = 0;
            //taxCredit = 0;
            return taxTotalYearly = tax1 + tax2;
        }
        else if (incomeYearlyGross > 0 && incomeYearlyGross > taxCredit && incomeYearlyGross <= taxLimitStandard)
        {
            tax1 = incomeYearlyGross * taxRateStandard;
            tax2 = 0;
        }
        else if (incomeYearlyGross > taxLimitStandard)
        {
            tax1 = taxLimitStandard * taxRateStandard;
            tax2 = (incomeYearlyGross - taxLimitStandard) * taxRateHigher;
        }
        return taxTotalYearly = tax1 + tax2 - taxCredit;
    }

    double CalculatetotalTaxPayableYearly()
    {
        if (taxTotalYearly < taxCredit)
        {
            return totalTaxPayableYearly = 0;
        }
        else
        {
            return totalTaxPayableYearly = taxTotalYearly - taxCredit;
        }
    }



    // PRSI
    static double prsiRate = 0.04;
    static double prsiTotal;

    double CalculatePrsi()
    {
        return prsiTotal = incomeYearlyGross * prsiRate;
    }

    // USC
    static double uscAmount1 = 12012;  // threshold of USC for the first amount of income
    static double uscAmount2 = 8472;  // threshold of USC for the next amount of income
    static double uscAmount3 = 49560;  // threshold of USC for the third amount of income
                                       //static double uscAmount4;   // threshold of USC for the remaing balance of income minus previous thresholds

    static double uscThreshold1 = uscAmount1;  // threshold of USC for the first amount of income
    static double uscThreshold2 = uscThreshold1 + uscAmount2;  // threshold of USC for the next amount of income
    static double uscThreshold3 = uscThreshold2 + uscAmount3;  // threshold of USC for the third amount of income
                                                               //static double uscThreshold4 = uscThreshold3;   // threshold of USC for the remaing balance of income minus previous thresholds

    static double uscRate1 = 0.005;  // USC rate for uscThreshold1
    static double uscRate2 = 0.02;  // USC rate for uscThreshold2
    static double uscRate3 = 0.045;  // USC rate for uscThreshold3
    static double uscRate4 = 0.08;  // USC rate for uscThreshold4

    static double usc1;
    static double usc2;
    static double usc3;
    static double usc4;
    static double uscTotal;

    double CalculateUsc()
    {
        if (incomeYearlyGross == 0)
        {
            usc1 = 0;
            usc2 = 0;
            usc3 = 0;
            usc4 = 0;
        }
        // USC for the first threshold
        if (incomeYearlyGross > 0 && incomeYearlyGross <= uscThreshold1)
        {
            usc1 = incomeYearlyGross * uscRate1;
            usc2 = 0;
            usc3 = 0;
            usc4 = 0;
        }
        // USC for the next (second) threshold
        else if (incomeYearlyGross > uscThreshold1 && incomeYearlyGross <= uscThreshold2)
        {
            usc1 = uscAmount1 * uscRate1;
            //usc2 = uscAmount2 * uscRate2;
            usc2 = (incomeYearlyGross - uscAmount1) * uscRate2;
            usc3 = 0;
            usc4 = 0;
        }
        // USC for the next (third) Amount
        else if (incomeYearlyGross > uscThreshold2 && incomeYearlyGross <= uscThreshold3)
        {
            usc1 = uscAmount1 * uscRate1;
            usc2 = uscAmount2 * uscRate2;
            usc3 = (incomeYearlyGross - uscAmount1 - uscAmount2) * uscRate3;
            usc4 = 0;
        }
        // USC for the remaining balance
        else if (incomeYearlyGross > uscThreshold3)
        {
            usc1 = uscAmount1 * uscRate1;
            usc2 = uscAmount2 * uscRate2;
            usc3 = uscAmount3 * uscRate3;
            usc4 = (incomeYearlyGross - uscAmount1 - uscAmount2 - uscAmount1) * uscRate4;
        }
        return uscTotal = usc1 + usc2 + usc3 + usc4;
    }

    double deductionsTotalYearly;

    double CalculateTotalDeductions()
    {
        return deductionsTotalYearly = totalTaxPayableYearly + prsiTotal + uscTotal;
    }

    double incomeYearlyNet;
    double incomeWeeklyNet;

    double CalculateIncomeYearlyNet()
    {
        return incomeYearlyNet = incomeYearlyGross - deductionsTotalYearly;
    }

    double CalculateIncomeWeeklyNet()
    {
        return incomeWeeklyNet = incomeYearlyNet / 52;
    }

    public void Calculate()
    {
        CalculateIncomeWeeklyGross();
        CalculateIncomeYearlyGross();

        CalculateTax();
        CalculatetotalTaxPayableYearly();
        CalculatePrsi();
        CalculateUsc();
        CalculateTotalDeductions();

        CalculateIncomeYearlyNet();
        CalculateIncomeWeeklyNet();
    }

}
