@page "/payroll"

<h1>Payroll Calculator</h1>

<EditForm Model="@payroll" OnSubmit="Calculate">
    <div class="form-group row">
        <label for="hoursWorked">Hours worked weekly</label>
        <InputNumber id="hoursWorked" @bind-Value="payroll.hoursWorked" class="form-control col-sm-2" required />
    </div>

    <div class="form-group row">
        <label for="hourlyRate">Hourly rate</label>
        <InputNumber id="hourlyRate" @bind-Value="payroll.hourlyRate" class="form-control col-sm-2" required />
    </div>


    <button class="btn btn-primary" type="submit">Calculate</button>
</EditForm>

<br />
<p>Hours worked: @payroll.hoursWorked</p>
<p>Hourly rate: @payroll.hourlyRate</p>
<br />
<p>Income weekly gross: @incomeWeeklyGross</p>
<p>Income yearly gross: @incomeYearlyGross</p>
<br />
<p>PRSI per year: @prsiTotal</p>


@code {
    public class PayrollModel
    {
        public double hoursWorked;
        public double hourlyRate;
    }

    PayrollModel payroll = new PayrollModel();


    //public static double hoursWorkedEntered = Convert.ToDouble("hoursWorked");
    //public static double hourlyRateEntered = Convert.ToDouble("hourlyRate");




    // income
    static double incomeWeeklyGross;
    static double incomeYearlyGross;

    double incomeWeeklyNet;

    // USC
    static double uscLimit1 = 12012;  // threshold of USC for the first amount of income
    static double uscLimit2 = 8472;  // threshold of USC for the next amount of income
    static double uscLimit3 = 49560;  // threshold of USC for the third amount of income
    static double uscLimit4 = incomeYearlyGross - uscLimit1 - uscLimit2 - uscLimit3;   // threshold of USC for the remaing balance of income minus previous thresholds

    static double uscRate1 = 0.005;  // USC rate for uscLimit1
    static double uscRate2 = 0.02;  // USC rate for uscLimit2
    static double uscRate3 = 0.045;  // USC rate for uscLimit3
    static double uscRate4 = 0.08;  // USC rate for uscLimit4

    static double usc1 = uscLimit1 * uscRate1;
    static double usc2 = uscLimit2 * uscRate2;
    static double usc3 = uscLimit3 * uscRate3;
    static double usc4 = uscLimit4 * uscRate4;
    static double uscTotal = usc1 + usc2 + usc3 + usc4;

    // PRSI
    double prsiRate = 0.04;
    double prsiTotal;


    // tax
    static double taxCredit = 3300;

    static double incomeLimitStandard = 35300;    // income threshold taxed at standard rate
    static double incomeLimitHigher = incomeYearlyGross - incomeLimitStandard;    // income threshold taxed at higher rate
    static double taxRateStandard = 20;    // income threshold taxed at standard rate
    static double taxRateHigher = 40;    // income threshold taxed at higher rate

    double CalculateIncomeWeekly()
    {
        return incomeWeeklyGross = payroll.hoursWorked * payroll.hourlyRate;
    }

    double CalculateIncomeYearlyGross()
    {
        return incomeYearlyGross = incomeWeeklyGross * 52;
    }

    //double CalculatePrsi()
    //{
    //    return prsiTotal = incomeYearlyGross * prsiRate;
    //}


    private void Calculate()
    {
        CalculateIncomeYearlyGross();
        CalculateIncomeWeekly();

        CalculatePrsi();
    }

}
